<div class="wrapper">
<div class="container">
  <h1>Products#show</h1>
  <p>Find me in app/views/products/show.html.erb</p>

  <p><%= @product.product_name %> </p>
  <p><%= @product.ean %> </p>
  <p><%= @product.category_id %> </p>
  <p><%= @product.manufacturer_id %> </p>
  <p>
  <%= cl_image_tag(@product.photo, width: 400) %>
  </p>
  <%= link_to "upload my warranty" , new_product_warranty_path(@product)  %>
</div>
</div>
