<div class="wrapper">
  <div class="container">
    <p>
    <%= cl_image_tag(@product.photo, width: 200) %>
    </p>
    <h1><%= @manufacturer.manufacturer_name %> - <%= @product.product_name %> </h1><small> <%= link_to 'edit', edit_product_path(@product)  %> </small>
    <p>EAN : <%= @product.ean %> </p>
    <p><%= @category.category_name %> </p>

    <%= link_to "upload my warranty" , new_product_warranty_path(@product), class: " btn btn-flat"   %>
    <% if not @product.asin.empty? %>
      <%= link_to "buy again on amazon" , "https://www.amazon.fr/dp/#{@product.asin}/ref=as_li_ss_tl?ie=UTF8&linkCode=ll1&tag=warrantize04-21&language=fr_FR", class: " btn btn-flat"   %>
    <% end %>
  </div>
</div>
